
.image-profile {
  border-radius: 50px;
  width: 96px;
  height: 96px;
  margin-left: auto;
  margin-right: auto;
}

.image-card{
  border-radius: 50px;
  width: 48px;
  height: 48px;
  margin-left: auto;
  margin-right: auto;
}
.section {
  text-align: center;
}

.container{
  margin-left: auto;
  margin-right: auto;
}

.btn-primary-profile{
  background: #F490B1;
  width: 130px;
  height: 28px;
  font-family: Inter;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 1.25px;
  color: #FFFFFF;
  justify-content: center;
  display: flex;
  margin-right: auto;
  margin-left: auto;
}

.btn-primary-tweet{
  margin-left: auto;
  background: #F490B1;
  font-family: "Inter";
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 1.25px;
  text-align: center;
  height: 28px;
  width: 117px;
  border-radius: 4px;
  padding: 6px;
  color: #FFFFFF;
}

.layout-link {
  display: flex;
  justify-content: space-around;
}

.profile-name{
  height: 32px;
  width: 328px;
  left: 16px;
  top: 0px;
  border-radius: nullpx;
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.name{
  height: 28px;
  width: 328px;
  left: 0px;
  top: 100px;
  border-radius: nullpx;
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.username{
  height: 24px;
  width: 328px;
  left: 0px;
  top: 132px;
  border-radius: nullpx;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  color: #7A7A7A;
  margin-left: auto;
  margin-right: auto;
}

.time-create{
  height: 24px;
  width: 328px;
  left: 0px;
  top: 160px;
  border-radius: nullpx;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  color: #7A7A7A;
}